/*---------------------------------
----------General page-------------
---------------------------------*/
body{
    margin: 0px;
}
main{
    width: 1200px;
    margin: auto;
}
/*---------------------------------
-------------Navbar----------------
---------------------------------*/
header{
    background-color: #00C2FF;
}
#logo{
    width: 60px;
}
#navGrid{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
    margin-right: 25%;
}
#logoDiv{
    margin-left: 10px;
    margin-top: 10px;
}
#navGrid a{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif; 
    margin: auto;
}
#navGrid a:hover{
    background-color: #4CD4FF;
}
#navGrid a:first-child{
    padding-bottom: 0px;
    padding-top: 60px;
}
/*---------------------------------
--------------Headers--------------
---------------------------------*/
h1{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif; 
   font-size: 34px;
}
h2{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif; 
   font-size: 28px;
}
h3{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif; 
   font-size: 22px;
}
h4{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif; 
   font-size: 18px;
}
/*---------------------------------
--------------Paragraphs-----------
---------------------------------*/
.p1{
    font-family: 'Lora', 'Times New Roman', Times, serif;
    font-size: 24px;
}
.p2{
    font-family: 'Lora', 'Times New Roman', Times, serif;
    font-size: 16px;
}
/*---------------------------------
------------News grid--------------
---------------------------------*/
#newsGrid{
    display: grid;
    width: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}
#newsGrid div{
    background-color: #67C8FF;
    width: 100%;
    min-height: 300px;
    box-shadow: 4px 5px 8px 2px rgba(0,0,0,0.55);
}
#newsGrid div img{
    width: 100%;
}
#newsGrid div h4, p{
    margin: 7px;
}
#news1{
    grid-row: span 2;
}
#news4{
    grid-column: span 2;
}
#news4 img{
    height: 50%;
}