body{
    background-color: lightgray;
    margin: 0px;
}
header{
    background-color: rgb(199, 199, 199);
    margin-top: 0px;
    text-align: center;
    padding-top: 20px;
}
footer{
    background-color: rgb(199, 199, 199);
    margin-top: 0px;
    text-align: center;
    padding-top: 20px;
}
#navn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
section{
    width: 55vw;
    background-color: whitesmoke;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    margin-bottom: 15px;
    min-height: 500px;
}
section:first-child{
    margin-top: 30px;
}
section h2{
    margin-left: 45px;
    font-family: sans-serif;
}
section p{
    margin-left: 45px;
    margin-right: 45px;
    font-size: 18px;
}
section ul{
    margin-left: 45px;
    margin-right: 45px;
    font-size: 18px;
}
section h3{
    margin-left: 45px;
    margin-right: 45px;
}